<% if @posts.length > 0 %>
  <h3 class="title is-3">Latest articles</h3>
  <div id="posts" class="columns ">
    <% @posts.each do |post| %>
      <div class="column is-2">
        <%= render post %>
      </div>
    <% end %>
</div>

<% else %>
  <h1 class="title has-text-centered mt-5">
    No articles found.
  </h1>
<% end %>